html
{
    height: 100%;
}

body
{
    height: 100%;
    background: linear-gradient(to left, blue, gold);
    color: white;
}

.navigation--items
{
    border: solid black 2px;
    list-style-type: none;
    margin: none;
    padding: none;
}

.navigation--items a
{
    display: block;
    width: 60px;
}

.navigation--items a:hover
{
    color: red;
    background-color: rgb(255, 255, 255);
    transition-duration: 500ms;
}
