#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #score {
    text-align: left;
    font-size: 140px;
    font-family: 'Antic Slab', serif;
  }

.scoreboard{
    background-color: orange;
    margin-top: 15px;
    width: 60px;
    height: 500px;
}

.container{
  display: flex;
  flex-direction: row column;
  justify-content: space-between;
}