
  <div class="container row">
    <div class="col-md-12">
      <h1 class="header">Welcome to Girls in Computer Science</h1>
    </div>
  </div>
  <div class="navigation">
      <ul class="navigation navigation--items">
        <li><a href="about.html">About</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="test.html">Games</a></li>
        <li><a href="photos.html">Photos</a></li>
      </ul>
  </div>

  <div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>Hello!</h3>
    </div>
  </div>
